// colors
$grey: #ddd;
$purple: #5b4681;
$light-grey: #f9f9f9;
$dark-grey: #777;

// spacing
$space: 1.4rem;
$site-max-width: 50rem;

// font sizes
$base-font-size: 1.3rem;
$large-font-size: 1.8rem;

// form inputs
$input-border: $grey;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;

// Button
$button-bg: $purple;
$button-color: #fff;
$button-pill-color: $purple; 
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// header
$header-bg: $purple;
$header-color: #fff;

// items
$item-bg: $light-grey;
$item-border: darken($item-bg, 10%);
$item-text-color: $dark-grey;